---
import Layout from '../layouts/Base.astro';

/** @todo there should be a way to implement it better */
const aboutPost = await Astro.glob('./about-the-shed-dweller.md').then(posts =>
  posts
    .map(({ frontmatter, compiledContent }) => ({
      title: frontmatter.title,
      description: frontmatter.description,
      canonicalURL: frontmatter.canonicalURL,
      cover_image: frontmatter.cover_image,
      content: compiledContent()
    }))[0]
);
---
  
<Layout 
  title={ aboutPost.title } 
  description={ aboutPost.description } 
  canonicalURL={ aboutPost.canonicalURL } 
  image={ aboutPost.cover_image }
>
  <div class="about-title">
    <h1>{ aboutPost.title }</h1>
  </div>

  <div class="about-text content-box">
    <div class="about-text__header">
      { aboutPost.cover_image && <img alt="Cover image" src={aboutPost.cover_image} /> }
    </div>

    <div class="about-text__content" set:html={aboutPost.content} />
  </div>
</Layout>

<style lang="scss">
// styles brought from Post component for consistency
.about-title {
  padding: calc(var(--space) / 2) 0 calc(var(--space) / 2);
  text-align: center;
}
.about-text {
  &__header {
    width: calc(100% + var(--space) * 2);
    margin-left: calc(var(--space) * -1);
    margin-top: calc(var(--space) * -1);
    margin-bottom: calc(var(--space) / 2);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;

    img {
      width: 100%;
    }

    &:empty {
      display: none;
    }
  }

  &__content {
    h2:first-child {
      margin-top: 0;
    }

    li {
      ul, p {
        margin-bottom: 0.6em;
      }
    }

    img {
      width: calc(100% + var(--space) * 2);
      margin-left: calc(var(--space) * -1);
      display: block;
      max-width: none;
    }
  }

  &__content > p:first-child {
    font-size: 1.2em;
    color: var(--title-color);
  }
}

// remove top border radius when on mobile
@media screen and (max-width: 650px) {
  .about-text__header {
    border-radius: 0;
  }
}
</style>
