---
import Layout from '../layouts/Base.astro';
import Author from '../components/Author.vue';
import PostCard from '../components/PostCard.vue';
import { calculateTimeToRead } from '../utils/time-to-read';

const posts = await Astro.glob('./posts/*.md').then(posts =>
  posts
    .map(({ frontmatter, url, compiledContent }) => ({
      path: url,
      title: frontmatter.title,
      description: frontmatter.description,
      date: new Date(frontmatter.date).toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }),
      cover_image: frontmatter.cover_image,
      tags: frontmatter.tags.map((tag) => ({title: tag, path: `/${tag}`})),
      timeToRead: calculateTimeToRead(compiledContent()),
      published: frontmatter.published
    }))
    .filter(post => post.published)
		.sort((a, b) => (new Date(b.date) as any) - (new Date(a.date) as any))
);
---

<Layout>
    <Author showTitle={true} />

    <div class="posts">
      {posts.map((post) => <PostCard post={post} />)}
    </div>
</Layout>
